.table-view {
    -fx-background-color: #F9F5D2;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}

.table-cell:odd {
    -fx-background-color: #F3CBC5;
}

.table-cell:even {
    -fx-background-color: #FCDDD8;
}

.table-view .scroll-bar {
    -fx-background-color: #F3CBC5;
}

.table-view .thumb {
    -fx-background-color: #FCDDD8;
}

.table-view .column-header {
    -fx-border-color: #F3C173;
}

.table-view .column-header-background {
    -fx-background-color: #EFC88B;
}

.table-cell {
    -fx-border-color: #EFC88B;
    -fx-border-width: 0.5;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #FF9E00;
}

.menu-button .menu-item {
    -fx-background-color: #F9F5D2;
}

.language-menu-button .menu-item {
    -fx-background-color: #F9F5D2;
}

.language-menu-button .arrow {
    -fx-rotate: 180;
}

.submit-button {
    -fx-background-color: #F3CBC5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #FF8C4C;
    -fx-cursor: HAND;
}

.table-view > .virtual-flow > .corner{
    -fx-background-color: #F3CBC5;
}